<!DOCTYPE html>
<html>
<head>
  <title>Create Post</title>
</head>
<body>

<h2>Create New Post</h2>

<form action="/post" method="POST" enctype="multipart/form-data">

  <div>
    <label>content:</label><br>
    <input type="text" name="content" required>
  </div>

  <br>

  <div>
    <label>Upload Image:</label><br>
    <input type="file" name="image">
  </div>

  <br>

  <button type="submit">Post</button>

</form>

<br>
<a href="/feed">Back to Feed</a>

</body>
</html>